body {
    color:blueviolet;

}
#Boton_1 {
    padding-bottom: 20px;
    background-color:palevioletred;
    color: black;
    border-radius: 0.8em;
    font-size: 25px;
    text-shadow:black 3px 5px 2px;
    box-shadow: rgba(red, green, blue, alpha)5px 6px 4px;
     background: #eb94d0;
     background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
     background: #2079b0;
    background-image: -webkit-linear-gradient(top,#2079b0, #eb94d0);
     background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);

    }

    #Boton_1:hover {
        padding-bottom: 10px;
        background-color: red;
        color: rgb(202, 212, 214);
        border-radius: 0.8em;
        font-size: 25px;
        text-shadow:black 3px 5px 2px;
        box-shadow: rgba(red, green, blue, alpha)5px 6px 4px;
        margin: 0 auto;
         background: #eb94d0;
         background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
         background: #2079b0;
        background-image: -webkit-linear-gradient(top,#2079b0, #eb94d0);
         background-image: -moz-linear-gradient(top, #2079b0, #eb94d0);
         text-decoration: none;
         box-shadow: 1 8px 16px 1 rgba(0,0,0,1.19), 1 6px 20px 1 rgba(0,0,0,1.19);
         
        }
    
    